
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100vh;
    background-color: #0B6FA4;
    display: flex;
    justify-content: center;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


#navButton {
    width: 50px;
    height: 50px;
    border-radius: 14px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li a img {
    width: 30px;
    height: 30px;
}

#navButton:hover {
    background-color: rgba(255, 255, 255, 0.35);
    transform: translateY(-2px);
}

#navButton.active {
    background-color: #ffffff;
}


#navButton.active img {
    filter: invert(34%) sepia(88%) saturate(401%) hue-rotate(165deg);
}

#navButton.add {
    background-color: #ffffff;
}
body{
    background-color: #CAF0F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title {
    position: absolute;
    left: 130px; 
    color: #03045E;
    font-family: liberation-sans;
    z-index: 20;
    top: 20px;
}

#logo{
    width: 60px;
    height: 60px;
}

#content {
    width: 90%;
    height: 90%;
    background-color: #F2FDFF;
    border-radius: 25px;
    padding: 20px;
}
#backButton {
    position: absolute;
    top: 20px;
    left: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
  
}